{% extends 'layouts/default.html' %}

{% comment %} {% load partials %} {% endcomment %}

{% block content %}
<h2 class="text-secondary">Our Products</h2>

<div class="max-w-non flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="w-full md:w-1/4 p-4">
        <div class="bg-base-200 rounded-box w-56 p-4">
            <h2 class="text-xl font-bold mb-4">Category</h2>
            <form hx-get="{% url 'products:home' %}" 
                  hx-trigger="change from:.category-toggle" 
                  hx-target="#product-list"
                  hx-swap="outerHTML" 
                  hx-push-url="true"
                  hx-indicator=".skeleton-wrapper">
                {% for category in categories %}
                <div class="form-control">
                    <label class="label cursor-pointer">
                        <span class="label-text">{{ category.name }}</span>
                        <input type="checkbox" 
                               class="toggle category-toggle toggle-xs" 
                               name="category" 
                               value="{{ category.slug }}"
                               {% if category.slug in request.GET.category %}checked{% endif %}
                        />
                    </label>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>

    <!-- Product Grid -->
    <div class="w-full md:w-3/4 p-4">
        <c-product-list/>
    </div>

</div>
{% endblock %}