{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="sunset">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TopBottomBabes{% endblock %}</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/quill/50/bottom.png">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script defer src="{% static 'js/htmx.min.js' %}"></script>
    {% django_htmx_script %}
    <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}">
    {% block extra_head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-base-100 text-base-content">

    {% block body %}{% endblock %}

    <!-- CSRF script for HTMX -->
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
    {% block extra_js %}{% endblock %}
</body>
</html>