{% extends "layouts/default.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
    <h1>Profile</h1>


    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
          <!-- Page content here -->
          <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
            Open drawer
          </label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <aside class="flex flex-col items-center h-screen sticky top-0 overflow-y-auto space-y-4 w-72 py-6 px-4 bg-base-200">
                <!-- Logo -->
                <a class="btn btn-ghost text-lg">
                    <img alt="Logo" src="{% static 'images/logo.svg' %}" class="w-6"/> 
                    TopBottomBabes
                </a>
            
                <img alt="Profile" src="/avatar.png" class="w-32 rounded-full"/>
            
                <h2 class="font-bold text-lg">User name</h2>
            
                <span class="text-sm text-accent">username@email.com</span>
            
                <ul class="menu menu-lg w-full">
                    <li>
                        <a>
                            <i class="fa-solid fa-inbox fa-fw"></i>
                            Inbox
                        </a>
                    </li>
                    <li>
                        <a class="active">
                            <i class="fa-solid fa-user fa-fw"></i>
                            Accounts
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa-solid fa-ticket fa-fw"></i>
                            Tickets
                        </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa-solid fa-gear fa-fw"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
      </div>
    
{% endblock content %}