{% extends "layouts/default.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
    <h1>Profile</h1>

    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col items-center justify-center">
          <!-- Page content here -->
          <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
            Open drawer
          </label>
        </div>
        <div class="drawer-side">
          <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
            <aside class="flex flex-col items-center h-screen sticky top-0 overflow-y-auto space-y-4 w-72 py-6 px-4 bg-base-200">
            
                <img alt="Profile" src="{{ user.profile.get_avatar_url }}" class="w-32 rounded-full" height=64 width=64/>
            
                <h2 class="font-bold text-lg">{{ user.profile }}</h2>
            
                <span class="text-sm text-accent">{{ user.email }}</span>
            
                <ul class="menu menu-lg w-full">
                    <li>
                        <a class="active">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a>
                            Settings 
                        </a>
                    </li>
                    <li>
                        <a onclick="document.getElementById('modal-logout').showModal()">
                            Logout
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
      </div>
    
{% endblock content %}