{% load static %}
{% load custom_filters %}

<a 
  class="card bg-base-200 md:max-w-72 shadow-xl transition-all duration-150 ease-in-out hover:shadow-sm hover:shadow-secondary hover:translate-y-0.5 cursor-pointer noprose"
  x-data="{ hover: false }"
  @mouseenter="hover = true"
  @mouseleave="hover = false"
  href="{{ product.get_absolute_url }}"
  hx-get="{{ product.get_absolute_url }}"
  hx-target="#main-content"
  hx-push-url="true"
>
    <figure class="relative overflow-hidden m-0 aspect-square">
        <img
        src="{{ product.get_primary_image.get_url }}"
        alt="{{ product.title }}"
        class="w-full h-full object-cover object-center transition-opacity duration-300"
        :class="{ 'opacity-0': hover }"
        width="300" height="300"
        />
        <img
        src="{{ product.get_secondary_image.get_url }}"
        alt="{{ product.title }} (hover)"
        class="absolute inset-0 w-full h-full object-cover object-center transition-opacity duration-300"
        :class="{ 'opacity-100': hover, 'opacity-0': !hover }"
        width="300" height="300"
        />
        {% if is_new %}
            <div class="absolute top-2 right-2 badge badge-secondary">NEW</div>
        {% endif %}
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            {{ product.title }}
        </h2>
        <p>{{ product.description|truncatechars:100 }}</p>
        <div class="card-actions justify-between items-center mt-2">
            <div class="text-lg font-bold">{{ product.price|euro_symbol }}</div>
            {% if category %}
                <div class="badge badge-outline">{{ product.category }}</div>
            {% endif %}
        </div>
        <div class="card-actions justify-between items-center -ml-2">
            <c-rating rating="{{ rating }}" id="{{ product.id }}"/>
            <p> {{ review_count }} reviews </p>
        </div>
    </div>
    <div class="absolute inset-0 bg-base-100 opacity-0 hover:opacity-10 transition-opacity duration-300"></div>
</a>