{% load static %}

<div class="carousel carousel-center bg-neutral rounded-box w-full md:w-96 h-64 md:h-80 p-4 space-x-4">
    <div class="carousel-item w-full snap-center">
      <img
        src="{% static 'images/blisswand-1.png' %}"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="Blisswand Image 1"/>
    </div>
    <div class="carousel-item h-full w-full">
      <img
        src="{% static 'images/blisswand-2.png' %}"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="Blisswand Image 2"/>
    </div>
    <div class="carousel-item h-full w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="product image 3"/>
    </div>
    <div class="carousel-item h-full w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="product image 4"/>
    </div>
    <div class="carousel-item h-full w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="product image 5"/>
    </div>
    <div class="carousel-item h-full w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="product image 6"/>
    </div>
    <div class="carousel-item h-full w-full">
      <img
        src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg"
        class="rounded-box object-cover h-56 md:h-72 w-full"
        width="800" height="600" alt="product image 7"/>
    </div>
</div>