{% load static %}
<div class="carousel carousel-center bg-neutral rounded-box w-full md:w-96 h-64 md:h-80 p-4 space-x-4">
  {% for image in product.images.all %}
  <div class="carousel-item w-full snap-center">
    <img src="{{ image.get_url }}"
         class="rounded-box object-cover h-56 md:h-72 w-full"
         width="800"
         height="600"
         alt="{{ image.alt_text }}" />
  </div>
  {% empty %}
  <div class="carousel-item h-full w-full">
    <img src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg"
         class="rounded-box object-cover h-56 md:h-72 w-full"
         width="800"
         height="600"
         alt="Product image placeholder" />
  </div>
  {% endfor %}
</div>
