{% load widget_tweaks %}

<div class="card bg-base-100 shadow-xl">
    <div class="card-body">
        <h2 class="card-title mb-6">Contact Information</h2>
        <form method="post"
                hx-post="{% url 'orders:checkout_contact' %}"
                hx-target="#checkout_form"
                hx-swap="innerHTML">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-control mb-4">
                    {% if field.field.widget.input_type == 'checkbox' %}
                        <label class="label cursor-pointer">
                            {{ field|add_class:"checkbox checkbox-primary" }}
                            <span class="label-text ml-2">{{ field.label }}</span>
                        </label>
                    {% else %}
                        <label class="label" for="{{ field.id_for_label }}">
                            <span class="label-text">{{ field.label }}</span>
                        </label>
                        {{ field|add_class:"input input-bordered" }}
                    {% endif %}
                    {% if field.errors %}<div class="text-error mt-1">{{ field.errors.0 }}</div>{% endif %}
                </div>
            {% endfor %}
            <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Continue to shipping</button>
            </div>
        </form>
    </div>
</div>