<figure class="relative aspect-square overflow-hidden"
        x-data="{ hover: false }"
        @mouseenter="hover = true"
        @mouseleave="hover = false"
        x-cloak>
    <img src="{{ primary_image.get_url }}"
         alt="{{ primary_image.alt_text }}"
         class="w-full h-full object-cover object-center transition-opacity duration-300"
         :class="{ 'opacity-0': hover }"
         width="{{ width }}"
         height="{{ height }}" />
    <img src="{{ secondary_image.get_url }}"
         alt="{{ secondary_image.alt_text }} (hover)"
         class="absolute inset-0 w-full h-full object-cover object-center transition-opacity duration-300"
         :class="{ 'opacity-100': hover, 'opacity-0': !hover }"
         width="{{ width }}"
         height="{{ height }}" />
</figure>