<div id="product-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% comment %} {% partialdef product_list inline=True %} {% endcomment %}
    {% for product in products %}
        <c-skeleton-wrapper>
            <c-card-product
                title="{{ product.name }}"
                description="{{ product.description }}"
                category="{{ product.category }}"
                price="{{ product.price }}"
                is_new="{{ product.is_new }}"
                rating="2"
                product_id="{{ product.id }}"
                review_count="16"
                />
        </c-skeleton-wrapper>
    {% empty %}
        <p class="text-error col-span-3">No products available.</p>
    {% endfor %}
    {% comment %} {% endpartialdef %} {% endcomment %}
</div>