{% extends "layouts/checkout.html" %}
{% load custom_filters %}

{% block content %}
<div class="container mx-auto px-4 py-8">
  <!-- Breadcrumbs -->
  <div class="text-sm breadcrumbs mb-8">
    <ul>
      <li><a href="{% url 'cart:view_cart' %}">Cart</a></li>
      <li class="font-semibold">Information</li>
      <li>Shipping</li>
      <li>Payment</li>
    </ul>
  </div>

  <div class="flex flex-col lg:flex-row gap-8">
    <!-- Checkout Form -->
    <div class="lg:w-2/3">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title mb-6">Contact Information</h2>
          <form>
            <div class="form-control mb-4">
              <label class="label" for="email">
                <span class="label-text">Email</span>
              </label>
              <input type="email" id="email" placeholder="Email" class="input input-bordered" required>
            </div>

            <h2 class="card-title mt-8 mb-6">Shipping Address</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div class="form-control">
                <label class="label" for="firstName">
                  <span class="label-text">First Name</span>
                </label>
                <input type="text" id="firstName" placeholder="First Name" class="input input-bordered" required>
              </div>
              <div class="form-control">
                <label class="label" for="lastName">
                  <span class="label-text">Last Name</span>
                </label>
                <input type="text" id="lastName" placeholder="Last Name" class="input input-bordered" required>
              </div>
              <div class="form-control md:col-span-2">
                <label class="label" for="address">
                  <span class="label-text">Address</span>
                </label>
                <input type="text" id="address" placeholder="Address" class="input input-bordered" required>
              </div>
              <div class="form-control md:col-span-2">
                <label class="label" for="apartment">
                  <span class="label-text">Apartment, suite, etc. (optional)</span>
                </label>
                <input type="text" id="apartment" placeholder="Apartment, suite, etc. (optional)" class="input input-bordered">
              </div>
              <div class="form-control">
                <label class="label" for="city">
                  <span class="label-text">City</span>
                </label>
                <input type="text" id="city" placeholder="City" class="input input-bordered" required>
              </div>
              <div class="form-control">
                <label class="label" for="country">
                  <span class="label-text">Country</span>
                </label>
                <select id="country" class="select select-bordered" required>
                  <option disabled selected>Select country</option>
                  <option value="be">Belgium</option>
                  <option value="nl">Netherlands</option>
                  <option value="de">Germany</option>
                  <option value="us">United States</option>
                </select>
              </div>
              <div class="form-control">
                <label class="label" for="state">
                  <span class="label-text">State</span>
                </label>
                <select id="state" class="select select-bordered" required>
                  <option disabled selected>Select state</option>
                  <!-- Add states dynamically based on selected country -->
                </select>
              </div>
              <div class="form-control">
                <label class="label" for="zipCode">
                  <span class="label-text">ZIP Code</span>
                </label>
                <input type="text" id="zipCode" placeholder="ZIP Code" class="input input-bordered" required>
              </div>
              <div class="form-control md:col-span-2">
                <label class="label" for="phone">
                  <span class="label-text">Phone</span>
                </label>
                <input type="tel" id="phone" placeholder="Phone" class="input input-bordered" required>
              </div>
            </div>

            <div class="form-control mt-6">
              <button class="btn btn-primary">Continue to shipping</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="lg:w-1/3">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title mb-6">Order Summary</h2>
          <div class="divide-y">
            {% for item in order.items.all %}
            <div class="py-4 flex justify-between items-center">
              <div class="flex items-center justify-between">
                <img src="{{ item.product.get_primary_image.get_url }}" alt="{{ item.product.name }}"
                class="w-16 h-16 object-cover rounded-md mr-4" height="64" width="64">
                <div class="flex-1">
                  <h3 class="font-semibold">{{ item.product.name }}</h3>
                  <p class="text-sm text-gray-600">Quantity: {{ item.quantity }}</p>
                </div>
              </div>
              <p class="font-semibold text-right ml-4">{{ item.total_price|euro_symbol }}</p>
            </div>
            {% endfor %}
          </div>
          <div class="divider my-4"></div>
          <div class="flex justify-between items-center">
            <p class="text-lg font-semibold">Total</p>
            <p class="text-lg font-semibold">{{ cart.get_total_price|euro_symbol }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}